<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12 topbarsticky">
            <div class="ui-g-12" style="float:right">
                <td style="padding-left:5px; float: left; position: absolute; top: 0px">
                    <h1>Add User</h1>
                </td>
                <td style="padding-left: 5px; float: right; padding-top: 5px">
                    <button pButton class="ui-button-success" label="Save" (click)="addEmployee()"
                            [disabled]="!emplForm.valid" style="font-size: 14px;"></button>
                </td>
                <td style="padding-left: 5px; float: right; padding-top: 5px">
                    <button pButton class="secondary-btn" label="Cancel" (click)="cancel()"
                            style="font-size:14px"></button>
                </td>
            </div>
        </div>
        <div class="ui-g-12" style="background: white">
            <div class="card ui-g-12">
                <div class="ui-g-12">
                    <h2>General Information</h2>
                </div>
                <div [formGroup]="emplForm">
                <div class="ui-g-12 ui-lg-6 ui-md-6">
                    <div class="ui-g-12" style="padding-left: 5%; padding-right: 5%">
                        <div class="ui-g-12 ui-md-12">
                            <h3>Personal Information</h3>
                        </div>
                        <!--  -->
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-4 ui-lg-4 ui-md-4">
                                Username
                                <span style="color:red">*</span>
                            </div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <input pInputText formControlName="employeeUserLogin"
                                    placeholder="e.g. john_doe" type="text" [pKeyFilter]="blockSpace">
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad" *ngIf="!emplForm.controls['employeeUserLogin'].valid && (emplForm.controls['employeeUserLogin'].dirty || emplForm.controls['employeeUserLogin'].touched)">
                            <div class="ui-g-4 ui-lg-4 ui-md-4"></div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <p-message severity="error" [text]="emplForm.controls['employeeUserLogin'].errors['required'] ? 'Username is required' : ''"></p-message>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-4 ui-lg-4 ui-md-4">
                                Full Name
                                <span style="color:red">*</span>
                            </div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <input pInputText formControlName="fullName"
                                    placeholder="e.g. John Doe" type="text">
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad" *ngIf="!emplForm.controls['fullName'].valid && (emplForm.controls['fullName'].dirty || emplForm.controls['fullName'].touched)">
                            <div class="ui-g-4 ui-lg-4 ui-md-4"></div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <p-message severity="error" [text]="emplForm.controls['fullName'].errors['required'] ? 'Full name is required' : ''"></p-message>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-4 ui-lg-4 ui-md-4">
                                Birth Date
                            </div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <p-calendar placeholder="e.g. 26-Nov-1900" [monthNavigator]="true" formControlName="birthDate"
                                    [yearNavigator]="true" yearRange="1930:2018" dateFormat="dd-M-yy" dataType="date" [maxDate]="maxDate"></p-calendar>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-4 ui-lg-4 ui-md-4">
                                Birth Place
                            </div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <input pInputText formControlName="birthPlace"
                                    type="text" placeholder="e.g. Jakarta">
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <h3>Contact Information</h3>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-4 ui-lg-4 ui-md-4">
                                Phone Number
                                <span style="color:red">*</span>
                            </div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <input pInputText formControlName="phone"
                                    type="text" placeholder="e.g. 08121234xxxx">
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad" *ngIf="!emplForm.controls['phone'].valid && (emplForm.controls['phone'].dirty || emplForm.controls['phone'].touched)">
                            <div class="ui-g-4 ui-lg-4 ui-md-4"></div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <p-message severity="error" [text]="emplForm.controls['phone'].errors['required'] ? 'Phone is required' : ''"></p-message>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-4 ui-lg-4 ui-md-4">
                                Email Address
                                <span style="color:red">*</span>
                            </div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <input pInputText formControlName="email" [pKeyFilter]="email"
                                    type="text"  placeholder="e.g. johndoe@company.com">
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad" *ngIf="!emplForm.controls['email'].valid && (emplForm.controls['email'].dirty || emplForm.controls['email'].touched)">
                            <div class="ui-g-4 ui-lg-4 ui-md-4"></div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <p-message severity="error" [text]="emplForm.controls['email'].errors['required'] ? 'Email is required' : emplForm.controls['email'].errors['email'] ? 'Email is wrong' : ''"></p-message>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-4 ui-lg-4 ui-md-4">
                                Address
                            </div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <textarea type="text" placeholder="e.g. Jl. Kencana No. 7" [rows]="2" autoResize="false" 
                                    formControlName="address" pInputTextarea></textarea>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-4 ui-lg-4 ui-md-4">
                                Location
                            </div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <p-autoComplete formControlName="location" [suggestions]="filteredLocations"
                                        (completeMethod)="filterLocations($event)" field="location"
                                        placeholder="Search location" [minLength]="3" (onSelect)="onSelectLocation()">
                                    </p-autoComplete>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-4 ui-lg-4 ui-md-4"></div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8 ui-g-nopad">
                                <div class="ui-g-12 ui-lg-6 ui-md-6">
                                    <input type="text" placeholder="e.g. Pasar Manggis" formControlName="village"
                                    pInputText>
                                </div>
                                <div class="ui-g-12 ui-lg-6 ui-md-6">
                                    <input type="text" placeholder="e.g. Setiabudi" formControlName="district"
                                    pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-4 ui-lg-4 ui-md-4"></div>
                                <div class="ui-g-8 ui-lg-8 ui-md-8 ui-g-nopad">
                                <div class="ui-g-12 ui-lg-6 ui-md-6">
                                    <input type="text" placeholder="e.g. Jakarta Selatan"
                                        pInputText formControlName="city">
                                </div>
                                <div class="ui-g-12 ui-lg-6 ui-md-6">
                                    <input type="text" placeholder="e.ge. DKI Jakarta"
                                        pInputText formControlName="state">
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-4 ui-lg-4 ui-md-4">
                                Zipcode
                            </div>
                            <div class="ui-g-8 ui-lg-4 ui-md-4">
                                <input type="text" placeholder="e.g. 12970"
                                pInputText formControlName="zipcode" pKeyFilter="pnum">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-lg-6 ui-md-6">
                    <div class="ui-g-12" style="padding-left: 5%; padding-right: 5%">
                        <div class="ui-g-12 ui-md-12">
                            <h3>Employee Information</h3>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-4 ui-lg-4 ui-md-4">
                                Employee Type
                                <span style="color:red">*</span>
                            </div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <p-autoComplete [suggestions]="filteredTypes" (completeMethod)="filterTypes($event)" placeholder="Choose employee type"
                                    [minLength]="1" [dropdown]="true" field="lookupValue" formControlName="employeeType">
                                    <ng-template let-type pTemplate="item">
                                        {{type.lookupValue}}
                                    </ng-template>
                                </p-autoComplete>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad" *ngIf="!emplForm.controls['employeeType'].valid && (emplForm.controls['employeeType'].dirty || emplForm.controls['employeeType'].touched)">
                            <div class="ui-g-4 ui-lg-4 ui-md-4"></div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <p-message severity="error" [text]="emplForm.controls['employeeType'].errors['required'] ? 'Employee type is required' : ''"></p-message>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-4 ui-lg-4 ui-md-4">
                                Employee Status
                                <span style="color:red">*</span>
                            </div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <p-autoComplete [suggestions]="filteredStatuss" (completeMethod)="filterStatuss($event)" placeholder="Choose employee status"
                                    [minLength]="1" [dropdown]="true" field="lookupValue" formControlName="employmentStatus">
                                    <ng-template let-status pTemplate="item">
                                        {{status.lookupValue}}
                                    </ng-template>
                                </p-autoComplete>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad" *ngIf="!emplForm.controls['employmentStatus'].valid && (emplForm.controls['employmentStatus'].dirty || emplForm.controls['employmentStatus'].touched)">
                            <div class="ui-g-4 ui-lg-4 ui-md-4"></div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <p-message severity="error" [text]="emplForm.controls['employmentStatus'].errors['required'] ? 'Employee status is required' : ''"></p-message>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-4 ui-lg-4 ui-md-4">
                                Department
                            </div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <input pInputText formControlName="department"
                                    type="text" placeholder="e.g. 123">
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-4 ui-lg-4 ui-md-4">
                                Division
                            </div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <input pInputText formControlName="division"
                                    type="text" placeholder="e.g. developer">
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-4 ui-lg-4 ui-md-4">
                                Work Group
                            </div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <input pInputText formControlName="workgroup"
                                    type="text" placeholder="e.g. 123" >
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-4 ui-lg-4 ui-md-4">
                                Job Entitlement
                                <span style="color:red">*</span>
                            </div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <input pInputText formControlName="workPosition"
                                    type="text" placeholder="e.g. developer" >
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad" *ngIf="!emplForm.controls['workPosition'].valid && (emplForm.controls['workPosition'].dirty || emplForm.controls['workPosition'].touched)">
                            <div class="ui-g-4 ui-lg-4 ui-md-4"></div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <p-message severity="error" [text]="emplForm.controls['workPosition'].errors['required'] ? 'Work position is required' : ''"></p-message>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-4 ui-lg-4 ui-md-4">
                                Direct Supervisor
                                <span style="color:red">*</span>
                            </div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <p-autoComplete [suggestions]="filteredSupervisors" (completeMethod)="filterSupervisors($event)" placeholder="Choose direct supervisor"
                                    [minLength]="1" [dropdown]="true" field="label" formControlName="directSupervisor">
                                    <ng-template let-supervisor pTemplate="item">
                                        {{supervisor.label}}
                                    </ng-template>
                                </p-autoComplete>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad" *ngIf="!emplForm.controls['directSupervisor'].valid && (emplForm.controls['directSupervisor'].dirty || emplForm.controls['directSupervisor'].touched)">
                            <div class="ui-g-4 ui-lg-4 ui-md-4"></div>
                            <div class="ui-g-8 ui-lg-8 ui-md-8">
                                <p-message severity="error" [text]="emplForm.controls['directSupervisor'].errors['required'] ? 'Direct supervisor is required' : ''"></p-message>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div style="margin-top: 10px; margin-bottom: 10px;"><hr></div>
            <div class="card ui-g-12">
                <div class="ui-g-12">
                    <h2>Assign Role(s)</h2>
                </div>
                <div class="ui-g-12 ui-lg-3 ui-md-2"></div>
                <div class="ui-g-12 ui-lg-6 ui-md-8">
                    <p-pickList [disabled]="disabled" [source]="sourceRoles" [target]="roles" sourceHeader="Roles" targetHeader="Roles Selected" [responsive]="true" filterBy="roleName"
                                [showSourceControls]="false" [showTargetControls]="false" sourceFilterPlaceholder="Search Roles" targetFilterPlaceholder="Search Role Selected"
                                [sourceStyle]="{'height':'200px'}" [targetStyle]="{'height':'200px'}" onLabel="On" offLabel="OFF" >
                        <ng-template let-role pTemplate="item">
                            <div class="ui-helper-clearfix">
                                <div style="font-size:12px;margin:1px 5px 0 0">{{role.roleName}}</div>
                            </div>
                        </ng-template>
                    </p-pickList>
                </div>
            </div>
            <div style="margin-top: 10px; margin-bottom: 10px;"><hr></div>
            <div class="card ui-g-12">
                <div class="ui-g-12">
                    <h2>Assign Office(s)</h2>
                </div>
                <div class="ui-g-12 ui-lg-3 ui-md-2"></div>
                <div class="ui-g-12 ui-lg-6 ui-md-8">
                    <p-pickList [disabled]="disabled" [source]="sourceOffices" [target]="offices" sourceHeader="Offices" targetHeader="Offices Selected" [responsive]="true" filterBy="name"
                                [showSourceControls]="false" [showTargetControls]="false" sourceFilterPlaceholder="Search Office" targetFilterPlaceholder="Search Office Selected"
                                [sourceStyle]="{'height':'200px'}" [targetStyle]="{'height':'200px'}">
                        <ng-template let-office pTemplate="item">
                            <div class="ui-helper-clearfix">
                                <div style="font-size:12px;margin:1px 5px 0 0">{{office.name}}</div>
                            </div>
                        </ng-template>
                    </p-pickList>
                </div>
            </div>
        </div>
    </div>
</div>
