<!--<div class="dashboard">-->


    <!--<div class="ui-g-12 ui-md-6 ui-lg-3">-->
        <!--<h2>Welcome!</h2>-->
    <!--</div>-->


    <!--<div class="ui-g overview-boxes">-->
        <!--<div class="ui-g-12 ui-md-6 ui-lg-3">-->
            <!--<div class="ui-g overview-box overview-box-1">-->
                <!--<div class="overview-box-title">-->
                    <!--<i class="fa fa-inbox"></i>-->
                    <!--<span>Unread Messages</span>-->
                <!--</div>-->
                <!--<div class="overview-box-count">150</div>-->
                <!--<div class="overview-box-stats">12 less than yesterday</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="ui-g-12 ui-md-6 ui-lg-3">-->
            <!--<div class="ui-g overview-box overview-box-2">-->
                <!--<div class="overview-box-title">-->
                    <!--<i class="fa fa-map-pin"></i>-->
                    <!--<span>Check-ins</span>-->
                <!--</div>-->
                <!--<div class="overview-box-count">532</div>-->
                <!--<div class="overview-box-stats">46 more than yesterday</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="ui-g-12 ui-md-6 ui-lg-3">-->
            <!--<div class="ui-g overview-box overview-box-3">-->
                <!--<div class="overview-box-title">-->
                    <!--<i class="fa fa-folder"></i>-->
                    <!--<span>Files</span>-->
                <!--</div>-->
                <!--<div class="overview-box-count">450</div>-->
                <!--<div class="overview-box-stats">30 more than yesterday</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="ui-g-12 ui-md-6 ui-lg-3">-->
            <!--<div class="ui-g overview-box overview-box-4">-->
                <!--<div class="overview-box-title">-->
                    <!--<i class="fa fa-user"></i>-->
                    <!--<span>Users</span>-->
                <!--</div>-->
                <!--<div class="overview-box-count">532</div>-->
                <!--<div class="overview-box-stats">250 more than yesterday</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="ui-g">-->

        <!--<div class="ui-g-12 ui-lg-6 product-statistics">-->
            <!--<p-panel>-->
                <!--<p-header>-->
                    <!--<i class="fa fa-inbox"></i>-->
                    <!--<span>Pending Approvals</span>-->
                <!--</p-header>-->
                <!--<table>-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--<td class="col-overview col-wait">-->
                            <!--<div>W</div>-->
                        <!--</td>-->
                        <!--<td class="col-status">-->
                            <!--<span class="status-time">Last Update: 12m ago</span>-->
                            <!--<span class="status-text">Currently Waiting</span>-->
                        <!--</td>-->
                        <!--<td class="col-numbers">-->
                            <!--<div>253 <span>Shipments</span></div>-->
                            <!--<div>584 <span>Orders</span></div>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="col-overview col-success">-->
                            <!--<div>S</div>-->
                        <!--</td>-->
                        <!--<td class="col-status">-->
                            <!--<span class="status-time">Last Update: 12m ago</span>-->
                            <!--<span class="status-text">Successfully Completed</span>-->
                        <!--</td>-->
                        <!--<td class="col-numbers">-->
                            <!--<div>312 <span>Shipments</span></div>-->
                            <!--<div>409 <span>Orders</span></div>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="col-overview col-delay">-->
                            <!--<div>D</div>-->
                        <!--</td>-->
                        <!--<td class="col-status">-->
                            <!--<span class="status-time">Last Update: 6m ago</span>-->
                            <!--<span class="status-text">Delayed</span>-->
                        <!--</td>-->
                        <!--<td class="col-numbers">-->
                            <!--<div>122 <span>Shipments</span></div>-->
                            <!--<div>341 <span>Orders</span></div>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="col-overview col-preorder">-->
                            <!--<div>P</div>-->
                        <!--</td>-->
                        <!--<td class="col-status">-->
                            <!--<span class="status-time">Last Update: 15m ago</span>-->
                            <!--<span class="status-text">Preordered</span>-->
                        <!--</td>-->
                        <!--<td class="col-numbers">-->
                            <!--<div>221 <span>Shipments</span></div>-->
                            <!--<div>332 <span>Orders</span></div>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</p-panel>-->
        <!--</div>-->

        <!--<div class="ui-g-12 ui-lg-6 product-statistics">-->
            <!--<p-panel>-->
                <!--<p-header>-->
                    <!--<i class="fa fa-inbox"></i>-->
                    <!--<span>Recent Approved</span>-->
                <!--</p-header>-->
                <!--<table>-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--<td class="col-overview col-wait">-->
                            <!--<div>W</div>-->
                        <!--</td>-->
                        <!--<td class="col-status">-->
                            <!--<span class="status-time">Last Update: 12m ago</span>-->
                            <!--<span class="status-text">Currently Waiting</span>-->
                        <!--</td>-->
                        <!--<td class="col-numbers">-->
                            <!--<div>253 <span>Shipments</span></div>-->
                            <!--<div>584 <span>Orders</span></div>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="col-overview col-success">-->
                            <!--<div>S</div>-->
                        <!--</td>-->
                        <!--<td class="col-status">-->
                            <!--<span class="status-time">Last Update: 12m ago</span>-->
                            <!--<span class="status-text">Successfully Completed</span>-->
                        <!--</td>-->
                        <!--<td class="col-numbers">-->
                            <!--<div>312 <span>Shipments</span></div>-->
                            <!--<div>409 <span>Orders</span></div>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="col-overview col-delay">-->
                            <!--<div>D</div>-->
                        <!--</td>-->
                        <!--<td class="col-status">-->
                            <!--<span class="status-time">Last Update: 6m ago</span>-->
                            <!--<span class="status-text">Delayed</span>-->
                        <!--</td>-->
                        <!--<td class="col-numbers">-->
                            <!--<div>122 <span>Shipments</span></div>-->
                            <!--<div>341 <span>Orders</span></div>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td class="col-overview col-preorder">-->
                            <!--<div>P</div>-->
                        <!--</td>-->
                        <!--<td class="col-status">-->
                            <!--<span class="status-time">Last Update: 15m ago</span>-->
                            <!--<span class="status-text">Preordered</span>-->
                        <!--</td>-->
                        <!--<td class="col-numbers">-->
                            <!--<div>221 <span>Shipments</span></div>-->
                            <!--<div>332 <span>Orders</span></div>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</p-panel>-->
        <!--</div>-->

    <!--</div>-->


<!--</div>-->
