<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-grid-row ui-g-12 topbarsticky">
      <div class="ui-g-12">
        <td style="padding-left:5px; float: left; position: absolute; top: 0px">
          <h1>Invoice Detail</h1>
        </td>
        <td style="padding-left: 5px; float: right; padding-top: 5px">
          <button pButton class="ui-button-success" label="Submit" (click)="submitInvoice()"
            style="width: 8em"></button>
        </td>
        <td style="float: right; padding-top: 5px">
          <button pButton class="ui-button-secondary" label="Cancel" (click)="cancel()" style="width: 8em"></button>
        </td>
      </div>
    </div>

    <div *ngIf="dataAvailable">
      <div class="card ui-g-12 ui-lg-12 ui-md-12">
        <div class="ui-g-12" style="padding-left: 3%; padding-right: 3%">
          <div class="ui-g-12 ui-md-12">
            <h3>Application List</h3>
          </div>
        </div>
        <div class="ui-g-12 ui-lg-6 ui-md-6">
          <div class="ui-g-12" style="padding-left: 5%; padding-right: 5%">
            <div class="ui-g-12 ui-g-nopad">
              <div class="ui-g-4 ui-lg-4 ui-md-4 form-field">
                PO Number
              </div>
              <div class="ui-g-8 ui-lg-8 ui-md-8 form-field">
                <input pInputText [(ngModel)]="dealer.poNumber" type="text" disabled>
              </div>
            </div>

            <div class="ui-g-12 ui-g-nopad">
              <div class="ui-g-4 ui-md-4 form-field">
                PO Date
              </div>
              <div class="ui-g-8 ui-md-8 form-field">
                <input pInputText [(ngModel)]="dealer.poDate" type="text" disabled>
              </div>
            </div>

            <div class="ui-g-12 ui-g-nopad">
              <div class="ui-g-4 ui-md-4 form-field">
                Total Price
              </div>
              <div class="ui-g-8 ui-md-8 form-field">
                <input pInputText [(ngModel)]="dealer.totalPrice" type="text" currencyMask
                [options]="amountOpt" disabled>
              </div>
            </div>

          </div>
        </div>

        <div class="ui-g-12 ui-lg-6 ui-md-6">
          <div class="ui-g-12" style="padding-left: 5%; padding-right: 5%">
            <div class="ui-g-12 ui-g-nopad">
              <div class="ui-g-4 ui-lg-4 ui-md-4 form-field">
                Invoice Number
              </div>
              <div class="ui-g-8 ui-lg-8 ui-md-8 form-field">
                <input pInputText placeholder="Input invoice number" [(ngModel)]="dealer.invoiceNumber" type="text">
              </div>
            </div>

            <div class="ui-g-12 ui-g-nopad">
              <div class="ui-g-4 ui-md-4 form-field">
                Invoice Date
              </div>
              <div class="ui-g-8 ui-md-8 form-field">
                <p-calendar placeholder="Input invoice date" appendTo="body" [monthNavigator]="true" [(ngModel)]="invoiceDate"
                  [yearNavigator]="true" yearRange="2018:2030" dateFormat="dd-M-yy" dataType="string"></p-calendar>
              </div>
            </div>

            <div class="ui-g-12 ui-g-nopad">
              <div class="ui-g-4 ui-md-4 form-field">
                Invoice Amount
              </div>
              <div class="ui-g-8 ui-md-8 form-field">
                <input pInputText placeholder="Input invoice amount" [(ngModel)]="dealer.invoiceAmount" type="text" currencyMask
                [options]="amountOpt">
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="card ui-g-12 ui-lg-12 ui-md-12">
        <div class="ui-g-12" style="padding-left: 3%; padding-right: 3%">
          <p-table #dt [value]="dealer.applicationList" [paginator]="true" [rows]="10"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="body" let-app let-rowIndex="rowIndex">
              <tr style="border: 1px solid #d9d9d9">
                <div class="ui-g ui-fluid">
                  <div class="ui-g-12 ui-lg-2 ui-md-2">
                    <div class="ui-g-12"
                      style="text-align: center; background-color:thistle; border-radius: 25px; width: 8em; margin-left: 25px">
                      <span>#{{rowIndex + 1}}</span>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-lg-5 ui-md-5">
                    <div class="ui-g">
                      <div class="ui-g-12">
                        Application Number: {{app.applicationNumber}}
                      </div>
                      <div class="ui-g-12">
                        Application Date: {{app.applicationDate}}
                      </div>
                      <div class="ui-g-12">
                        Price: {{app.price | currency:'IDR':'symbol-narrow':'1.2-2':'id-ID'}}
                      </div>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-lg-5 ui-md-5">
                    <div class="ui-g">
                      <div class="ui-g-12">
                        Customer Name: {{app.customerName}}
                      </div>
                      <div class="ui-g-12">
                        Customer Address: {{app.customerAddress}}
                      </div>
                      <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-4 ui-md-4">
                          BASTK Number:
                        </div>
                        <div class="ui-g-8 ui-md-8">
                          <input pInputText [(ngModel)]="app.bastkNumber" type="text">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>