p {
    font-family: Lato;
}

.avatar {
    position: relative;
    border-radius: 50%;
}

.btn-edit {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    margin-top: -30px;
    margin-left: 70px;
    z-index: 1;
}

.btn-delete {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    margin-top: -30px;
    margin-left: 30px;
    z-index: 1;
}

#fileInput{
    display: none;
}

p-calendar {
    font-size: 14px;
    /* width: 16px; */
}
