<div class="ui-g">
        <div class="ui-g-12 card">
            <h1>Change Password</h1>
            <p></p>
            <div class="card">
                <div class="ui-grid-row">
                    <div class="ui-g-4 ui-md-4" style="text-align: right">
                        Old Password
                        <span style="color:red">*</span>
                    </div>
                    <div class="ui-g-8 ui-md-8">
                        <input pInputText type="password" [(ngModel)]="passwordData.oldPass" class="ui-lg-6">
                    </div>
                    <div class="ui-g-4 ui-md-4" style="text-align: right">
                        New Password
                        <span style="color:red">*</span>
                    </div>
                    <div class="ui-g-8 ui-md-8">
                        <input pPassword type="password" [(ngModel)]="passwordData.newPass" class="ui-lg-6">
                    </div>
                    <div class="ui-g-4 ui-md-4" style="text-align: right">
                        Confirmation Password
                        <span style="color:red">*</span>
                    </div>
                    <div class="ui-g-8 ui-md-8">
                        <input pInputText type="password" [(ngModel)]="passwordData.cekPass" class="ui-lg-6">
                    </div>
                    <br>
                    <br>
                </div>
                <hr>
                <div class="ui-g-4 ui-md-4"></div>
                <div class="ui-g-4 ui-md-4">
                        <td style="padding-left:5px; float: left">
                            <button pButton label="Reset" class="ui-button-secondary" (onClick)="changePassword()"></button>
                        </td>
                        <td style="padding-left:5px; float: left">
                                <button pButton label="Save" class="ui-button-primary" (onClick)="changePassword()"></button>
                            </td>
                        
            </div>
                <!-- <div class="ui-g-4 ui-md-4">
                            <p-button style="float:right" label="Click" (onClick)="changePassword()"></p-button>
                            <p-button style="float:right" label="Click" (onClick)="changePassword()"></p-button>
                    </div> -->
                <p></p>
            </div>

        </div>
</div>
