<app-user-message></app-user-message>
<div class="ui-g">
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-grid-row ui-g-12"
        style="float: right; position: sticky; position: -webkit-sticky; top: 60px; background-color: white">
        <div class="ui-g-12" style="text-align:center">
            <img [src]="imageUrl ? imageUrl : 'https://www.bournemouth.ac.uk/sites/default/files/styles/b_4_3_desktop/public/assets/images/email-icon-2.fw_.png?itok=vV9xf8KR&c=6b3fa37ba6c2516a431c0ba708d51319'"
            style="width:200px;height:130px">
          <!-- <button pButton type="button" icon="pi pi-envelope" class="ui-button-info" style="font-size:80px"></button> -->
        </div>
        <div class="ui-g-12" style="text-align:center">
          <h2>Send Email</h2>
          <div class="ui-g-12 ui-md-3"></div>
          <div class="ui-g-12 ui-md-6">
              This form will allow you to send a secure email to the account owner. This email is containing temporary
              password that will be used to reset password.
          </div>
        </div>
        <div class="ui-g-12" style="text-align: center">
          <button pButton type="button" icon="pi pi-save" class="ui-button-secondary" label="Cancel"
            (click)="cancel()" style="font-size:13px; margin-right: 5px">
          </button>
          <button pButton type="button" icon="pi pi-envelope" class="ui-button-success" label="Send Email"
            (click)="resetPass()" style="font-size:13px; margin-left: 5px">
          </button>
        </div>
      </div>
    </div>
  </div>
  