<div class="ui-fluid">
    <form class="ui-g">
        <div class="ui-g-12">
            <div class="square">
                <img src="./assets/demo/images/logo/Capture.PNG">
                <div class="centered" >
                    <h2 style="font-family: Roboto">Sign In</h2>
                </div>
                <br><br><br><br><br><br><br>
                <div class="centered1" style="float:left">

            <span class="ui-float-label">
              <input pInputText type="text">
              <label style="font-family:Roboto">Email</label>
            </span>
                    <br>
                    <span class="ui-float-label">
              <input pInputText type="password">
              <label style="font-family:Roboto">Password</label>
            </span>
                    <!-- <div class="ui-g-12 ui-md-5">

                      <app-fielderrors [form]="projectForm" field="projectId" username="project ID"></app-fielderrors>

                    </div> -->
                    <br>
                    <div class="form-group;">
                        <a href="javascript:;" (click)="create()" class="m-link" style="color:blue; font-family: Roboto;">
                            Forgot username
                        </a>
                    </div>
                    <br>
                    <div class="form-group;">
                        <a href="javascript:;" (click)="forgot()" class="m-link" style="color:blue; font-family: Roboto">
                            Forgot my password
                        </a>
                    </div>
                    <br>
                    <div class="" style="float:right">
                        <button (click)=handleJWTAuthLogin() class="btn btn-success">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    alert('ok');
</script>